.bemvindo{
    color: #585858;
    text-align: center;
    font-size: 190%;
  }
    
  ion-toolbar{
    --background: DodgerBlue;
    color: #ffffff
  }
  
  img{
    width: 20vw;
    height: 20vh;
  }
  
  ion-content{
    //--background: DodgerBlue;
  }
  
  ion-searchbar{
    width: 85%;
  }
  