<ion-header>
  <ion-toolbar>
      <ion-menu-button></ion-menu-button>
      <ion-searchbar slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<div class="bemvindo">
    Ação
  </div>

<ion-content padding>

    <ion-list>
        <ion-item>
          <img slot="start" src="/assets/snk.jpg">
          <ion-label>
            <p>1º</p>
            <p>Shingeki no Kyojin</p>
            <p>TV (25 eps) Abril 2013 - Setembro 2013</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-item>
        <img slot="start" src="/assets/sao.jpg">
        <ion-label>
          <p>2º</p>
          <p>Sword Art Online</p>
        </ion-label>
      </ion-item>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/fullmetal.jpg">
          <ion-label>
            <p>3º</p>
            <p>Fullmetal Alchemist: Brotherhood</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/onepunchman.jpg">
          <ion-label>
            <p>4º</p>
            <p>One Punch Man</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/tokyoghoul.jpg">
          <ion-label>
            <p>5º</p>
            <p>Tokyo Ghoul</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/naruto.jpg">
          <ion-label>
            <p>6º</p>
            <p>Naruto</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/angelbeats.jpg">
          <ion-label>
            <p>7º</p>
            <p>Angel Beats!</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/codegeass.jpg">
          <ion-label>
            <p>8º</p>
            <p>Code Geass: Hangyaku no Lelouch</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/mirainikki.jpg">
          <ion-label>
            <p>9º</p>
            <p>Mirai Nikki</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/bokunohero.jpg">
          <ion-label>
            <p>10º</p>
            <p>Boku no Hero Academia</p>
            <p>Filme (1 eps) Setembro 2016 - Setembro 2016</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
      </ion-list>

</ion-content>
