<ion-header>
  <ion-toolbar>
      <ion-menu-button></ion-menu-button>
      <ion-searchbar slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<div class="bemvindo">
    Luta
  </div>

<ion-content padding>

    <ion-list>
        <ion-item>
          <img slot="start" src="/assets/naruto.jpg">
          <ion-label>
            <p>1º</p>
            <p>Naruto</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-item>
        <img slot="start" src="/assets/narutos.jpg">
        <ion-label>
          <p>2º</p>
          <p>Naruto: Shippuuden</p>
        </ion-label>
      </ion-item>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/dragonballz.jpg">
          <ion-label>
            <p>3º</p>
            <p>Dragon Ball Z</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/dragonball.jpg">
          <ion-label>
            <p>4º</p>
            <p>Dragon Ball</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/katanagatari.jpg">
          <ion-label>
            <p>5º</p>
            <p>Katanagatari</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/yuyu.jpg">
          <ion-label>
            <p>6º</p>
            <p>Yuu☆Yuu☆Hakusho</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/dragonballsuper.jpg">
          <ion-label>
            <p>7º</p>
            <p>Dragon Ball Super</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/boruto.jpg">
          <ion-label>
            <p>8º</p>
            <p>Boruto: Naruto Next Generations</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/freezing.jpg">
          <ion-label>
            <p>9º</p>
            <p>Freezing</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/bento.jpg">
          <ion-label>
            <p>10º</p>
            <p>Ben-To</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
      </ion-list>

</ion-content>
