<ion-header>
  <ion-toolbar>
      <ion-menu-button></ion-menu-button>
  </ion-toolbar>
</ion-header>

<div class="bemvindo">
    Donate
 </div>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ajude nosso trabalho</ion-card-subtitle>
      <ion-card-title>Faça um Donate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>Aplicação criada com intuíto de ajudar pessoas a encontrar os melhores mangás e animes só pra você!</p>
        <div text-center>
            <button expand="block" color="dark" ion-button (click) = "comprar()" color="light"> Efetuar Pagamento </button>
        </div>
    </ion-card-content>
  </ion-card>

</ion-content>
