<ion-header>
  <ion-toolbar>
    <ion-menu-button></ion-menu-button>
      <ion-searchbar slot="end" placeholder="Pesquisar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="c1">

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
        <ion-item>
            <ion-label position="floating">User</ion-label>
            <ion-input ></ion-input>
          </ion-item>
          
          <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="Password"></ion-input>
            </ion-item>
      </ion-card-header>
      <ion-button>Entrar</ion-button>
    </ion-card>
</ion-content>
