<ion-header>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-title>
      AnimesUp!
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="bemvindo">
  Top Animes
</div>
<ion-content>
  <ion-list>
    <ion-item>
      <img slot="start" src="/assets/fullmetal.jpg">
      <ion-label>
        <p>1º</p>
        <p>Full Metal Alchemis</p>
        <p>TV (64 eps) Abril 2009 - Jul 2010</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <img slot="start" src="/assets/kimi.jpg">
    <ion-label>
      <p>2º</p>
      <p>Kimi no Na wa.</p>
      <p>Filme (1 eps) Agosto 2016 - Aug 2016</p>
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-item>
      <img slot="start" src="/assets/steins.jpg">
      <ion-label>
        <p>3º</p>
        <p>Steins;Gate</p>
        <p>TV (24 eps) Abril 2011 - Setembro 2011</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
  </ion-list>
</ion-content>