<ion-header>
  <ion-toolbar>
      <ion-menu-button></ion-menu-button>
      <ion-searchbar slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<div class="bemvindo">
    Ecchi
  </div>

<ion-content padding>

    <ion-list>
        <ion-item>
          <img slot="start" src="/assets/nogamenolife.jpg">
          <ion-label>
            <p>1º</p>
            <p>No Game No Life</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-item>
        <img slot="start" src="/assets/killlakill.jpg">
        <ion-label>
          <p>2º</p>
          <p>Kill la Kill</p>
        </ion-label>
      </ion-item>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/hotd.jpg">
          <ion-label>
            <p>3º</p>
            <p>Highschool of the Dead</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/nanatsunotaizai.jpg">
          <ion-label>
            <p>4º</p>
            <p>Nanatsu no Taizai</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/shokugekinosouma.jpg">
          <ion-label>
            <p>5º</p>
            <p>Shokugeki no Souma</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/dxd.jpg">
          <ion-label>
            <p>6º</p>
            <p>High School DxD</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/zeronotsukaima.jpg">
          <ion-label>
            <p>7º</p>
            <p>Zero no Tsukaima</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/bokuwa.jpg">
          <ion-label>
            <p>8º</p>
            <p>Boku wa Tomodachi ga Sukunai</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/NinoSara.jpg">
          <ion-label>
            <p>9º</p>
            <p>Shokugeki no Souma: Ni no Sara</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/HighSchoolDxDNew.jpg">
          <ion-label>
            <p>10º</p>
            <p>High School DxD New</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
      </ion-list>

</ion-content>
