<ion-header>
  <ion-toolbar>

      <ion-menu-button></ion-menu-button>
      <ion-searchbar slot="end" placeholder="Pesquisar"></ion-searchbar>

  </ion-toolbar>
</ion-header>
<div class="bemvindo">
  Bem vindo ao AnimesUp!
</div>
<ion-content>
    
      <ion-card class="welcome-card">
     <a href="http://localhost:8100/tabs/tab3"><ion-img src="/assets/mangá.jpg"></ion-img></a>
      <ion-card-header>
        <ion-card-subtitle>Boku no Hero</ion-card-subtitle>
        <ion-card-title>TOP MANGÁS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Confira os Mangás mais populares da galera!</p>
      </ion-card-content>
      </ion-card>
  
    <ion-card class="welcome-card">
        <a href="http://localhost:8100/tabs/tab2"><ion-img src="/assets/anime.jpg"></ion-img></a>
      <ion-card-header>
        <ion-card-subtitle>Full Metal Alchemist</ion-card-subtitle>
        <ion-card-title>TOP ANIMES</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Confira os Animes mais populares da galera!</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card">
      <ion-img src="/assets/favoritos.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>MEUS FAVORITOS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Confira os seus Animes e Mangás marcados como favorito!</p>
      </ion-card-content>
    </ion-card>


</ion-content>

