<ion-header>
  <ion-toolbar>
      <ion-menu-button></ion-menu-button>
      <ion-searchbar slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<div class="bemvindo">
  Top Mangás
</div>
<ion-content>
    <ion-list>
        <ion-item>
          <img slot="start" src="/assets/berserk.jpg">
          <ion-label>
            <p>1º</p>
            <p>Berserk</p>
            <p>Mangá (? vols) Agosto 1989 - </p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
          <ion-item>
            <img slot="start" src="/assets/jojo.jpg">
            <ion-label>
              <p>2º</p>
              <p>JoJo no Kimyou na Bouken Part 7: Steel Ball Run</p>
              <p>Mangá (24 vols) Janeiro 2004 - Abril 2011</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
              <img slot="start" src="/assets/fullmetal2.jpg">
              <ion-label>
                <p>3º</p>
                <p>Fullmetal Alchemist</p>
                <p>Mangá (27 vols) Julho 2001 - Setembro 2010</p>
              </ion-label>
            </ion-item>
          </ion-list>

          <ion-list>
              <ion-item>
                <img slot="start" src="/assets/op.jpg">
                <ion-label>
                  <p>4º</p>
                  <p>One Piece</p>
                  <p>TV (64 eps) Abril 2009 - Jul 2010</p>
                </ion-label>
              </ion-item>
            </ion-list>

            <ion-list>
                <ion-item>
                  <img slot="start" src="/assets/monster.jpg">
                  <ion-label>
                    <p>5º</p>
                    <p>Monster</p>
                    <p>Mangá (18 vols) Dezembro 1994 - Dezembro 2001</p>
                  </ion-label>
                </ion-item>
              </ion-list>

              <ion-list>
                  <ion-item>
                    <img slot="start" src="/assets/oya.jpg">
                    <ion-label>
                      <p>6º</p>
                      <p>Oyasumi Punpun</p>
                      <p>Mangá (13 vols) Março 2007 - Novembro 2013</p>
                    </ion-label>
                  </ion-item>
                </ion-list>

                <ion-list>
                    <ion-item>
                      <img slot="start" src="/assets/grandblue.jpg">
                      <ion-label>
                        <p>7º</p>
                        <p>Grand Blue</p>
                        <p>Mangá (? vols) Abril 2014 -</p>
                      </ion-label>
                    </ion-item>
                  </ion-list>

                  <ion-list>
                      <ion-item>
                        <img slot="start" src="/assets/vagabond.jpg">
                        <ion-label>
                          <p>8º</p>
                          <p>Vagabond</p>
                          <p>Mangá (37 vols) Março 1999 - Maio 2015</p>
                        </ion-label>
                      </ion-item>
                    </ion-list>

                    <ion-list>
                        <ion-item>
                          <img slot="start" src="/assets/kingdom.jpg">
                          <ion-label>
                            <p>9º</p>
                            <p>Kingdom</p>
                            <p>Mangá (? vols) Janeiro 2006 - </p>
                          </ion-label>
                        </ion-item>
                      </ion-list>

                      <ion-list>
                          <ion-item>
                            <img slot="start" src="/assets/slumdunk.jpg">
                            <ion-label>
                              <p>10º</p>
                              <p>Slam Dunk</p>
                              <p>Mangá (31 vols) Setembro 1990 - Junho 1996</p>
                            </ion-label>
                          </ion-item>
                        </ion-list>
</ion-content>