<ion-header>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-title>
      AnimesUp!
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="bemvindo">
  Top Mangás
</div>
<ion-content>
    <ion-list>
        <ion-item>
          <img slot="start" src="/assets/berserk.jpg">
          <ion-label>
            <p>1º</p>
            <p>Berserk</p>
            <p>TV (64 eps) Abril 2009 - Jul 2010</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
          <ion-item>
            <img slot="start" src="/assets/jojo.jpg">
            <ion-label>
              <p>2º</p>
              <p>JoJo no Kimyou na Bouken Part 7: Steel Ball Run</p>
              <p>Filme (1 eps)
                  Agosto 2016 - Aug 2016</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
              <img slot="start" src="/assets/fullmetal2.jpg">
              <ion-label>
                <p>3º</p>
                <p>Fullmetal Alchemist</p>
                <p>TV (24 eps)
                    Abril 2011 - Setembro 2011</p>
              </ion-label>
            </ion-item>
          </ion-list>
</ion-content>