<ion-app> 
  <ion-menu side="start" menuId="first" contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item href="http://localhost:8100/tabs/tab1">Ínicio</ion-item>
        <ion-item href="http://localhost:8100/tabs/tab2">Top Animes</ion-item>
        <ion-item href="http://localhost:8100/tabs/tab3">Top Mangás</ion-item>
        <ion-item href="http://localhost:8100/generos">Gêneros</ion-item>
        <ion-item>Meus Favoritos</ion-item>
        <ion-item>Mais Vistos da Região</ion-item>
        <ion-item>Configurações</ion-item>
        <ion-item>Donate</ion-item>
        <ion-item href="./login">Login</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
