<ion-app> 
  <ion-menu side="start" contentId="principal">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
        <ion-item color="blue">
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>Usuário</ion-label>
            <ion-item href="./login">Login</ion-item>
          </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item href="http://localhost:8100/tabs/tab1">Ínicio</ion-item>
        <ion-item href="http://localhost:8100/tabs/tab2">Top Animes <ion-badge color="primary" slot="end">10</ion-badge> </ion-item>
        <ion-item href="http://localhost:8100/tabs/tab3">Top Mangás <ion-badge color="primary" slot="end">10</ion-badge> </ion-item>
        <ion-item href="http://localhost:8100/generos">Gêneros</ion-item>
        <ion-item>Meus Favoritos</ion-item>
        <ion-item>Mais Vistos da Região</ion-item>
        <ion-item href="./map">Mapa</ion-item>
        <ion-item href="./config">Configurações</ion-item>
        <ion-item href="./pagamento">Donate</ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>
<ion-router-outlet id="principal"></ion-router-outlet>
</ion-app>
