<ion-header>
  <ion-toolbar>
      <ion-menu-button></ion-menu-button>
      <ion-searchbar slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<div class="bemvindo">
    Esporte
  </div>

<ion-content padding>

    <ion-list>
        <ion-item>
          <img slot="start" src="/assets/haikyuu.jpg">
          <ion-label>
            <p>1º</p>
            <p>Haikyuu!!</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-item>
        <img slot="start" src="/assets/kurokonobasket.jpg">
        <ion-label>
          <p>2º</p>
          <p>Kuroko no Basket</p>
        </ion-label>
      </ion-item>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/haikyuu2.jpg">
          <ion-label>
            <p>3º</p>
            <p>Haikyuu!! Second Season</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/free.jpg">
          <ion-label>
            <p>4º</p>
            <p>Free!</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/kurokonobasket3.jpg">
          <ion-label>
            <p>5º</p>
            <p>Kuroko no Basket 3rd Season</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/yurionice.jpg">
          <ion-label>
            <p>6º</p>
            <p>Yuri!!! on Ice</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/haikyuu3.jpg">
          <ion-label>
            <p>7º</p>
            <p>Haikyuu!!: Karasuno Koukou vs. Shiratorizawa Gakuen Koukou</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/hajimenoippo.jpg">
          <ion-label>
            <p>8º</p>
            <p>Hajime no Ippo</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/airgear.jpg">
          <ion-label>
            <p>9º</p>
            <p>Air Gear</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/chihayafuru.jpg">
          <ion-label>
            <p>10º</p>
            <p>Chihayafuru</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
      </ion-list>

</ion-content>
