<ion-header>
  <ion-toolbar>
      <ion-menu-button></ion-menu-button>
      <ion-searchbar slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<div class="bemvindo">
    Horror
  </div>

<ion-content padding>

    <ion-list>
        <ion-item>
          <img slot="start" src="/assets/tokyoghoul.jpg">
          <ion-label>
            <p>1º</p>
            <p>Tokyo Ghoul</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-item>
        <img slot="start" src="/assets/elfenlied.jpg">
        <ion-label>
          <p>2º</p>
          <p>Elfen Lied</p>
        </ion-label>
      </ion-item>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/another.jpg">
          <ion-label>
            <p>3º</p>
            <p>Another</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/hotd.jpg">
          <ion-label>
            <p>4º</p>
            <p>Highschool of the Dead</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/tokyoghoulr.jpg">
          <ion-label>
            <p>5º</p>
            <p>Tokyo Ghoul √A</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/Kiseijuu.jpg">
          <ion-label>
            <p>6º</p>
            <p>Kiseijuu: Sei no Kakuritsu</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/Deadman.jpg">
          <ion-label>
            <p>7º</p>
            <p>Deadman Wonderland</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/Higurashi.jpg">
          <ion-label>
            <p>8º</p>
            <p>Higurashi no Naku Koro ni</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/HellsingU.jpg">
          <ion-label>
            <p>9º</p>
            <p>Hellsing Ultimate</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/shinsekai.jpg">
          <ion-label>
            <p>10º</p>
            <p>Shinsekai yori</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
      </ion-list>

</ion-content>
