<ion-header>
  <ion-toolbar>
      <ion-menu-button></ion-menu-button>
      <ion-searchbar slot="end" placeholder="Pesquisar"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<div class="bemvindo">
  Gêneros
</div>

<ion-content padding>

    <ion-button expand="full" href="http://localhost:8100/acao">Ação</ion-button>
    <ion-button expand="full" href="http://localhost:8100/aventura">Aventura</ion-button>
    <ion-button expand="full">Horror</ion-button>
    <ion-button expand="full">Luta</ion-button>
    <ion-button expand="full">Esporte</ion-button>
    <ion-button expand="full">Ecchi</ion-button>
    <ion-button expand="full">Shoujo</ion-button> 


</ion-content>
