<ion-header>
  <ion-toolbar>
      <ion-menu-button></ion-menu-button>
      <ion-searchbar slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<div class="bemvindo">
    Shoujo
  </div>

<ion-content padding>

    <ion-list>
        <ion-item>
          <img slot="start" src="/assets/kaichou.jpg">
          <ion-label>
            <p>1º</p>
            <p>Kaichou wa Maid-sama!</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-item>
        <img slot="start" src="/assets/Ouran.jpg">
        <ion-label>
          <p>2º</p>
          <p>Ouran Koukou Host Club</p>
        </ion-label>
      </ion-item>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/Tonari.jpg">
          <ion-label>
            <p>3º</p>
            <p>Tonari no Kaibutsu-kun</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/KiminiTodoke.jpg">
          <ion-label>
            <p>4º</p>
            <p>Kimi ni Todoke</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/AkatsukinoYona.jpg">
          <ion-label>
            <p>5º</p>
            <p>Akatsuki no Yona</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/AoHaruRide.jpg">
          <ion-label>
            <p>6º</p>
            <p>Ao Haru Ride</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/VampireKnight.jpg">
          <ion-label>
            <p>7º</p>
            <p>Vampire Knight</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/HotarubinoMorie.jpg">
          <ion-label>
            <p>8º</p>
            <p>Hotarubi no Mori e</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/SukitteIinayo.jpg">
          <ion-label>
            <p>9º</p>
            <p>Sukitte Ii na yo.</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
        <ion-item>
          <img slot="start" src="/assets/Orange.jpg">
          <ion-label>
            <p>10º</p>
            <p>Orange</p>
          </ion-label>
        </ion-item>
      </ion-list>
    
      <ion-list>
      </ion-list>

</ion-content>
