<ion-header>
    <ion-toolbar>
        <ion-menu-button></ion-menu-button>
        <ion-searchbar slot="end"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
  <div class="bemvindo">
      Aventura
    </div>
  
  <ion-content padding>
  
      <ion-list>
          <ion-item>
            <img slot="start" src="/assets/sao.jpg">
            <ion-label>
              <p>1º</p>
              <p>Sword Art Online</p>
            </ion-label>
          </ion-item>
        </ion-list>
  
        <ion-item>
          <img slot="start" src="/assets/fullmetal.jpg">
          <ion-label>
            <p>2º</p>
            <p>Fullmetal Alchemist: Brotherhood</p>
          </ion-label>
        </ion-item>
  
        <ion-list>
          <ion-item>
            <img slot="start" src="/assets/nogamenolife.jpg">
            <ion-label>
              <p>3º</p>
              <p>No Game No Life</p>
            </ion-label>
          </ion-item>
        </ion-list>
  
        <ion-list>
          <ion-item>
            <img slot="start" src="/assets/naruto.jpg">
            <ion-label>
              <p>4º</p>
              <p>Naruto</p>
            </ion-label>
          </ion-item>
        </ion-list>
  
        <ion-list>
          <ion-item>
            <img slot="start" src="/assets/noragami.jpg">
            <ion-label>
              <p>5º</p>
              <p>Noragami</p>
            </ion-label>
          </ion-item>
        </ion-list>
      
        <ion-list>
          <ion-item>
            <img slot="start" src="/assets/sao2.jpg">
            <ion-label>
              <p>6º</p>
              <p>Sword Art Online II</p>
            </ion-label>
          </ion-item>
        </ion-list>
      
        <ion-list>
          <ion-item>
            <img slot="start" src="/assets/narutos.jpg">
            <ion-label>
              <p>7º</p>
              <p>Naruto: Shippuuden</p>
            </ion-label>
          </ion-item>
        </ion-list>
      
        <ion-list>
          <ion-item>
            <img slot="start" src="/assets/fairytail.jpg">
            <ion-label>
              <p>8º</p>
              <p>Fairy Tail</p>
            </ion-label>
          </ion-item>
        </ion-list>
      
        <ion-list>
          <ion-item>
            <img slot="start" src="/assets/bleach.jpg">
            <ion-label>
              <p>9º</p>
              <p>Bleach</p>
            </ion-label>
          </ion-item>
        </ion-list>
      
        <ion-list>
          <ion-item>
            <img slot="start" src="/assets/akamegakill.jpg">
            <ion-label>
              <p>10º</p>
              <p>Akame ga Kill!</p>
            </ion-label>
          </ion-item>
        </ion-list>
      
        <ion-list>
        </ion-list>
  
  </ion-content>
  